/*  */
:root {
  --primary-text-color: #212121;
  --second-text-colot: #757575;
  --primary-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --option-bg-color: #f5f4fa;
  --luck-color: #2196f3;
  --luck-active-color: #ffffff;
}
/* Для всего тела */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--primary-text-color);
}
/* Ссылки */
a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  cursor: pointer;
  color: var(--luck-color);
}
h2,
h3 {
  font-weight: bold;
}
/* Лого в шапке */
.logo-link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-first {
  color: var(--luck-color);
}
.header {
  font-weight: 500;
}
.nav-link {
  color: var(--primary-text-color);
}

/* Hero секция */
.hero {
  background: var(--second-bg-color);
  text-align: center;
}

.hero-title {
  color: var(--luck-active-color);
}
.hero-button {
  cursor: pointer;
  background: var(--luck-color);
  color: var(--luck-active-color);
}
.team {
  background-color: var(--option-bg-color);
}
.team h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}
/* Подвал */
footer {
  font-weight: 400;
  background-color: var(--second-bg-color);
}
/* Лого в подвале */
.logo-link-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--luck-active-color);
}
.address {
  color: var(--luck-active-color);
}
.address-link .link {
  color: #ffffff;
  opacity: 0.6;
}
/* Портфолио */
.button {
  background-color: var(--option-bg-color);
  color: var(--primary-text-color);
}
.button:hover,
.button:focus {
  cursor: pointer;
  background-color: var(--luck-color);
  color: var(--luck-active-color);
}
